 <!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Add To DataBase</title>

<link rel="stylesheet" href="styles/base.css">
  <link rel="stylesheet" href="styles/modules.css">
  <link rel="stylesheet" href="styles/layout.css"> 
   
    <!-- <%- include('../layout/head') %>  -->

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <h1><a href="/"> Best Books !</h1></a> <a href="/searchapi">Search the Google API</a>
    </header>
    <main>
      <h2> Search Results </h2>

          <div class="thebookdetails">
              <p>A total of <%(books)?books.length:0 %> books!</p>
              <% if(books){books.forEach( (book) => { %>
                  <p> ** Book Details ** </p><br>
                  
                  <img class="bookimage" src=<%=book.image %>><br>
                  

                  <p class="booktitle">Title <%= book.title %></p>
              <p class="bookauthor">Author : <%= book.author %></p>


              <form action ='/detail' method="POST" class="formBook">
                <input type="hidden" name="image" value="<%= book.image%>">
                <input type="hidden" name="title" value="<%= book.title%>">
                <input type="hidden" name="author" value="<%= book.author%>">
                <input type="hidden" name="des" value="<%= book.des%>">
                <input type="hidden" name="isbn" value="<%= book.isbn%>">
                <input type="hidden" name="shelf" value="<%= book.bookshelf%>">
            
                <button class="selectbutton" type="submit"> Show Details </button>
            </form>

              <% });}else{
                  %>
                  <p class="booktitle"> No Books Available</p>
              <% } %>
          </div>
      </main>

    <footer>
        <%- include('../layout/footer') %> 
        CopyRight &copy; sahar abu snaineh - Book App  
     </footer>
</body>
</html>